@font-face {
  font-family: comfortaa;
  src: url('/fonts/comfortaa/Comfortaa_Bold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: comfortaa;
  src: url('/fonts/comfortaa/Comfortaa_Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: comfortaa;
  src: url('/fonts/comfortaa/Comfortaa_Thin.ttf');
  font-weight: 200;
}

*{
  box-sizing: border-box;
  font-family: comfortaa, cursive, sans-serif;
}

body{
  margin: 0;
}